.about {
  position: relative;
  display: flow-root;
  padding: 25px 0;
  background-color: var(--mid_color);
}

.about img {
  float: right;
  width: 50%;
  height: 650px;
  object-fit: cover;
  margin: 0 25px;
  border-radius: 25px;
}

.about h1 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  line-height: 80%;
}

.about p {
  padding-left: 25px;
}
